
<%if @cart.empty?%>
 <div class="container center">
 <p> There is no items in the shopping cart </p>
 </div>
<%else%>


<%= button_to  "Checkout", checkout_create_path, method: :post, remote: true %>

<div class="columns is-multiline" style="margin-top:10px">

  <%= render partial: 'products/product',
  collection: @products,
  locals: {card_is_link: true}
  %>
</div>
 <%end%>