<h1 class="title">All shoes</h1>
<%= paginate @products %>

<div class="columns is-multiline">
  <%= render partial: 'products/product',
  collection: @products,
  locals: {card_is_link: true}
  %>
</div>




